* {
    box-sizing: border-box;
}

body {
    background: #F7F9FD;
    /* min-height: 100vh; */
    display: flex;
    font-weight: 400;
    font-family: 'Fira Sans', sans-serif;
}

h1, h2, h3, h4, h5, h6, label, span {
    font-weight: 500;
    font-family: 'Fira Sans', sans-serif;
}

body, html, .App, #root {
    width: 100%;
    height: 100%;
    font-size: 16px;
}

.d-none {
    display: none;
}

.full-width {
    width: 100%;
}

.full-height {
    height: 100%;
}

.full-space {
    width: 100%;
    height: 100%;
}

.loader-main {
    display: flex;
    position: absolute;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 9999;
    background: #c0b6c05e;
    left: 0;
    bottom: 0;
}

.overflow-x {
    overflow-x: scroll;
}

.overflow-y {
    overflow-y: scroll;
}

.hand-cursor {
    cursor: pointer;
}

.paddingy-5 {
    padding-top: 5%;
    padding-bottom: 5%;
}

.btn:focus, .btn:active {
    outline: none !important;
    box-shadow: none !important;
}