.home-container {
    font-size: 1.1rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-top: 50px;
    padding-bottom: 50px;
    overflow: scroll;
}

.students-table-container {
    width: 80%;
    margin: 0 auto;
}

.table-header-area {
    width: 100%;
    height: 40px;
    position: relative;
    vertical-align: middle;
    background-color: slategray;
    border-radius: 10px 10px 0 0;
    display: table;
    border-top: 1px solid slategray;
}

.header-content-student {
    height: 100%;
    /* vertical-align: middle; */
    color: white;
    padding: 10px;
    font-weight: bold;
    display: table-cell;
    overflow-x: scroll;
    font-size: .75rem;
    width: 20%;
    border-right: 1px solid whitesmoke;
    cursor: pointer;
}

.header-content-student:last-child {
    border-right: none;
}

.table-content-area {
    border-top: 1px solid slategray;
}

.row-content {
    width: 100%;
    height: 40px;
    vertical-align: middle;
    background-color: #a0bbee62;
    display: table;
    transition: all .3s ease-in-out;
}

.row-content.dark {
    background-color: #d7eaf5a4;
}

.row-content:hover {
    font-weight: 500;
    cursor: pointer;
}

.row-content:hover .row-cell {
    background-color: #708090af;
    color: white;
}

.row-cell {
    height: 100%;
    color: black;
    padding: 10px;
    display: table-cell;
    overflow-x: scroll;
    font-size: .75rem;
    width: 20%;
    border-right: 1px solid whitesmoke;
}

.search-icon {
    position: absolute;
    left: 16%;
    top: 6px;
    cursor: pointer;
    color: white;
}

.search-icon.active {
    color: yellow;
}

.search-input {
    background: slategray;
    border: 1px solid cornsilk;
    padding: 5px 5px;
    border-radius: 5px;
    width: 100%;
    color: cornsilk;
}

.search-input:focus {
    outline: none;
}

.search-input::placeholder {
    color: cornsilk;
}

.information {
    text-align: center;
    padding-top: 10px;
}

.information:hover {
    font-weight: normal;
    cursor: default;
}

@media screen and (max-width: 700px) {
    .students-table-container {
        width: 100%;
        margin: 0 auto;
    }
    .table-header-area {
        border: none;
    }
}